<!doctype html>
<html lang="pt" ng-app="Livraria">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<head>
    <meta charset="UTF-8">
    <title>Livraria</title>
</head>

<body ng-controller="LivrariaController">
    <div class="container">
        <h2 class="text-center">Cadastro de Livros</h2>
        <hr />

        <div class="col-md-5">
            <form>
                <div class="form-group">
                    <label class="control-label">ISBN</label>
                    <input type="text" class="form-control" ng-model="livro.isbn">
                </div>
                <div class="form-group">
                    <label class="control-label">Título</label>
                    <input type="text" class="form-control" ng-model="livro.titulo">
                </div>

                <hr />
                <div class="form-group text-center">
                    <button type="submit" ng-click="adiciona()" class="btn btn-primary">Adiciona</button>
                </div>
            </form>
        </div>

        <div class="col-md-7">
            <table class="table table-striped">

                <tr>
                    <th>ISBN</th>
                    <th>Título</th>
                    <th>&nbsp;</th>
                </tr>

                <tr ng-repeat="livro in listaLivros">
                    <td>{{livro.isbn}}</td>
                    <td>{{livro.titulo}}</td>
                    <td>
                        <button class="btn btn-info" ng-click="edita(livro)">Editar</button>
                        <button class="btn btn-danger" ng-click="deleta(livro)">Excluir</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/LivrariaController.js"></script>
</body>

</html>
